/* COLOUR PALETTE */
$primary: #0074D9;
$focus: #FF851B;
$light: #FDFDFD;
$dark: #141414;
$warning: #B71427;
$shade1: #dddddd;
$shade2: #cccccc;
$shade3: #bbbbbb;
$shade4: #aaaaaa;

/* BASE SPACING & SIZES */
$baseline: 8px;
$gutter: 16px;
$base-font-size: 16px;

/* BREAKPOINTS */
$small-screen: 430px;
$medium-screen: 768px;
